{% extends "base.html" %}

{% block content %}
<h1>
    Actors List
</h1>


{% if actor_list %}
<table class="table">
    <tr>
        <th>Num</th>
        <th>Name</th>
        <th>Movies</th>
    </tr>

    {% for actor in actor_list %}
    <tr>
        <td>
            {{ actor.id }}
        </td>
        <td>
            <a href="{% url 'movies:actors-detail' pk=actor.pk %}">
                {{ actor.name }}
            </a>
        </td>
        <td>
            {% for movie in actor.movie_set.all %}
            {{ movie.title }}
            {% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>There are no manufacturers in the service.</p>
{% endif %}
{% endblock %}
