{% extends "base.html" %}

{% block content %}
<h1>
    Movies List
    <a href="{% url 'movies:movies-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
</h1>


{% if movie_list %}
<table class="table">
    <tr>
        <th>Num</th>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Actors</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    {% for movie in movie_list %}
    <tr>
        <td>
            {{ movie.id }}
        </td>
        <td>
            {{ movie.title }}
        </td>
        <td>
            {{ movie.release_year }}
        </td>
        <td>
            {{ movie.director }}
        </td>
        <td>
            {% for actor in movie.actors.all %}
            {{ actor.name }}
            {% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
        <td>
            <a style="color: blue" href="{% url 'movies:movies-update' pk=movie.pk %}">
                Update
            </a>
        </td>
        <td>
            <a style="color: red" href="{% url 'movies:movies-delete' pk=movie.pk %}">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>There are no manufacturers in the service.</p>
{% endif %}
{% endblock %}
